td.collected {
  background-color: yellow !important;
}

td.donated {
  background-color: lightgreen !important;
}

td {
  background-color: bisque !important;
  cursor: pointer;
}

.modal-dialog {
  position: absolute;
  left: 40%;
  top: 30%;
}

.modal-content {
  font-family: "Londrina Solid", cursive;
  background-color: lightgray;
}

li {
  font-size: large;
}

.table {
  box-shadow: 5px 5px 2px black;
}

.table-bordered {
  border: 1px solid black;
}

.table-image {
  max-width: 60%;
  max-height: auto;
}

.header {
  font-family: "Outfit", sans-serif;
}
.detail-box {
  border: 2px solid black;
  background-color: peru;
  box-shadow: 5px 5px 2px black;
  transition-duration: 600ms;
}

#item-box.not-loaded {
  transform: translate(-150%);
}

#detail-box.not-loaded {
  transform: translate(150%);
}

#icon {
  opacity: 1;
  transition: opacity 600ms ease-in;
}

#icon.not-visible {
  opacity: 0;
  transition: opacity 600ms ease-out;
}

#table-container {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

#table-container.not-visible {
  opacity: 0;
  transition: opacity 600ms ease-out;
}

.totals-text {
  font-family: "Londrina Solid", cursive;
}

#button-box {
  border: 2px solid black;
  background-color: peru;
}
